#login_body {
  background-color: #212121;
  height: 100%
}

#login_panel {
  background-color: #FAFAFA;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 25px;
}

#login_top_items {
  text-align: center;
}

.back_panel {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 25px;
}
